.notifications-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.notification {
  background-color: #cf3b3b;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}
.notification-content {
  padding-right: 25px;
  word-wrap: break-word;
}
